.sdra-member {
  text-align: center;

  img {
    width: 150px;
    height: 150px;
    display: block;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;

    &.no-circle {
      border-radius: 0;
    }
  }
}

.sdra-document {
  text-align: center;
  display: block;
  text-decoration: none;
  color: inherit;

  img {
    width: 100px;
    height: 100px;
    display: block;
    object-fit: cover;
    margin: 0 auto;
  }
}